 <!doctype html>
<html lang="en">
  <head>
   <?!= HtmlService.createHtmlOutputFromFile('Stylesheet').getContent(); ?> 
   <!--It will add Stylesheet file-->
  </head>
  <body>
     <div class="container-fluid">
      <h1 style="color:green">Using Vue.js</h1>
      <form id="frmApps">
        <div class="row">
       
          <div class="col-6">
            <div class="form-group">
            <label for="countryName">Select Country Name</label>
            <select class="form-control"  id="countryName" v-model="selected">
            <option disabled value="">Please select one</option>
            <option v-for="option in options" v-bind:value="option">
           {{ option }}
            </select> 
         </div>
         </div>
          <div class="col-md-6">
         <div class="form-group"> <label >Selected Country:</label>
         <span class="form-control">{{ selected }}</span>
         </div>
        </div>
        
         </div>
       </form>
     </div>
  <?!= HtmlService.createHtmlOutputFromFile('JavaScript').getContent(); ?>  <!--It will add JavaScript file-->
  </body>
</html>



 